/* Weather Widget */
.weather-widget {
    /* background-image: url("../images/resources/weather.jpg"); */
    float: left;
    min-height: 300px;
    text-align: center;
    width: 100%;
    z-index: 0;
    background-size: cover;
    position: relative;
}
.weather-widget canvas {
    display: inline-block;
    margin-top: 70px;
}
.weather-widget::after {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.refresh-content > i {
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    z-index: 1;
}
.refresh-content {
    display: inline-block;
    padding-right: 10px;
    padding-top: 7px;
    text-align: right;
    width: 100%;
}
.weather-infos {
    float: left;
    padding: 0 40px;
    position: relative;
    text-align: left;
    width: 100%;
	z-index: 2;
}
.weather-tem {
    color: #ffffff;
    float: left;
    font-size: 31px;
    margin-right: 33px;
    position: relative;
}
.weather-tem::before {
    border: 2px solid #fff;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    content: "";
    height: 10px;
    position: absolute;
    right: -10px;
    top: 3px;
    width: 10px;
}
.weather-infos > h3 {
    color: #ffffff;
    float: left;
    font-size: 20px;
    margin: 0;
    width: 100%;
}
.weather-infos > h3 > i {
    display: table;
    font-size: 13px;
    font-style: normal;
    margin-top: 6px;
}
.weather-date {
    height: 60px;
    position: absolute;
    right: 0;
    width: 60px;
}
.weather-date > span {
    border-radius: 10px 0 0 10px;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: initial;
    padding: 14px;
    text-align: center;
    width: 100%;
}
.weather-date > span > strong {
    float: left;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 13px;
    margin-top: 3px;
    width: 100%;
}
.weather-week {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 2;
}
.postoverlay {
  background-color: rgba(0,0,0,.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  display: none;
}

.monthly-weather {
    display: inline-block;
    margin: 20px 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.monthly-weather > ul {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 10px;
    width: 100%;
	line-height: initial;
}
.widget .monthly-weather > ul > li {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 0;
    vertical-align: middle;
    width: 12.9%;
}
.widget .monthly-weather > ul > li a {
    display: inline-block;
}
.widget .monthly-weather > ul > li a i {
    font-size: 15px;
    margin: 0;
    position: unset;
    transform: translate(0px);
}
.widget .monthly-weather > ul > li span {
    display: inline-block;
    padding-bottom: 2px;
    width: 100%;
}
.widget .monthly-weather > ul > li em {
    display: inline-block;
    width: 100%;
    font-style: normal;
}

.icon {
    position: relative;
    display: inline-block;
    width: 12em;
    height: 10em;
    font-size: 1em;
  }

  .cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: #fff;
    border-radius: 50%;
    box-shadow: -2.1875em .6875em 0 -2.6875em,2.0625em .9375em 0 -1.9375em,0 0 0 .375em #fff,-2.1875em .6875em 0 -.3125em #fff,2.0625em .9375em 0 -.5625em #fff;
  }

  .cloud::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: 0 0;
  }

  .cloud + .sun {
    margin: -2em 1em;
  }
  .sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: -1.25em;
    background: 0 0;
    border-radius: 50%;
    box-shadow: 0 0 0 .375em #fff;
    animation: spin 12s infinite linear;
  }

  .rays::after, .rays::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: .375em;
    height: 1.125em;
    transform: rotate(60deg);
    transform-origin: 50% 3.25em;
    background: #fff;
    border-radius: .25em;
    box-shadow: 0 5.375em #fff;
  }
  .rays::before {
    transform: rotate(120deg);
  }

  .rays {
    position: absolute;
    top: -2em;
    left: 50%;
    display: block;
    width: .375em;
    height: 1.125em;
    margin-left: -.1875em;
    background: #fff;
    border-radius: .25em;
    box-shadow: 0 5.375em #fff;
  }

  .rain::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 1.125em;
    height: 1.125em;
    margin: -1em 0 0 -.25em;
    background: #0cf;
    border-radius: 100% 0 60% 50%/60% 0 100% 50%;
    box-shadow: .625em .875em 0 -.125em rgba(255,255,255,.2),-.875em 1.125em 0 -.125em rgba(255,255,255,.2),-1.375em -.125em 0 rgba(255,255,255,.2);
    transform: rotate(-28deg);
    animation: rain 3s linear infinite;
  }

  .lightning, .rain, .snow {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 3.75em;
    height: 3.75em;
    margin: .375em 0 0 -2em;
    background: 0 0;
  }

  @keyframes spin {
    to {
        transform: rotate(360deg);
    }
}