.post-creat {
    display: inline-block;
    width: 100%;
  }
  .bg-feature {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 70px;
  }
  .bg-feature::before {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
  }
  .bg-feature > span {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-orientation: upright;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    writing-mode: vertical-lr;
    z-index: 2;
  }
  .create-meta {
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    width: 67%;
  }
  .create-meta > p {
    color: #535165;
    display: inline-block;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 0.1px;
    width: 100%;
  }
  .create-meta > a {
    border-radius: 5px;
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    width: 100%;
  }
  